* {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Helvetica, sans-serif;}
ul{ 
    padding: 1em;
    margin: 0;
    background-color: aquamarine;
}
p {
    font-weight: lighter;
}

li{
    list-style: none;
    margin-bottom: 0.5em;
}

li:first-child {
    font-weight: lighter;
    color: rgb(32, 67, 56);
}

.contenedor {
    width: 50%;
    margin: 0 auto;
}


/* Calculadora */
.operacion-btn {
    font-weight: bold;
    width: 100%;
}

.calc-display {
    background-color: black;
    width: 100%;
    font-family: monospace;
    font-size: 2em;
    text-align: right;
    color: aqua;
}

.calc-display p {
    padding: 0;
    margin: 0;
}



/* eje 23 */
.amarillo {
    background-color: yellow;
    font-weight: 900;
}